<section class="bg-primary bg-gradient pt-120">
  <div class="container coach-page-heading">
    <div>
      <button
      routerLinkActive="active"
      [routerLink]="['/employmentapp']"
      class="btn btn-light mb-5"
    >
      ←Back to employment application
    </button>
      <!--button routerLinkActive="active" routerLink="/home" class="btn btn-light mb-5">←Back to home</button-->

      <!-- <h2 class="text-white">Team JSH - Featuring Drew Rechark & Brock Mathis - A Beacons of Expertise in Youth Athletic Development.</h2> -->
      <h2 class="text-white">The Yard Brand Ambassador</h2>
      <hr class="text-light" />
      <p class="padding-block-10 text-light mb-0">
        <strong>Company Overview:</strong><br> 
        The Yard Sports Development LLC, a premier baseball and softball training facility,
        opened its doors in 2023. Located off Interstate 75 at the Middletown exit, our 11,000 square foot 
        state-of-the-art facility is equipped with cutting-edge technology including 2 HitTrax systems and Rapsoto 3.0. 
        Our commitment to utilizing technology to enhance athletic performance is matched by the expertise of our 
        instructors, who are adept at translating complex data into actionable insights for individual performance improvement.<br><br>
        <strong>Job Summary:</strong><br>
        The Yard Brand Ambassador plays a crucial role in enhancing the visibility and reputation of The Yard within 
        the community. This individual will leverage guerrilla and digital marketing tactics to educate potential 
        customers about our facilities, trainers, and programs, with the ultimate goal of increasing our membership and 
        registration base. The successful candidate will be deeply knowledgeable about baseball, proficient in social 
        media, possess a marketing background or strong interpersonal skills, maintain impeccable hygiene, and have 
        reliable transportation for local travel. Flexibility to work off-hours and weekends is required, with optional 
        travel to conventions.<br><br>  

        <strong>Key Qualifications:</strong><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	In-depth knowledge of baseball or softball.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Strong presence on social media platforms.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Background in marketing, communications, or related field preferred.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Extroverted personality with a talent for meeting new people.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Impeccable hygiene and professional appearance.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Access to reliable transportation for travel to local events and institutions.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Flexibility to work evenings, weekends, and occasional travel.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Excellent verbal and written communication skills.<br><br>

         <strong>Job Responsibilities:</strong><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Foster and expand partnerships with local businesses, community organizations, schools, and baseball/softball entities to drive brand awareness and engagement.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Assist in the development and implementation of comprehensive marketing strategies, including content creation for social media, video, and audio platforms.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Engage with potential trainers, athletes, and the public to promote The Yard experience.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Achieve established sales and outreach targets.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Document and report on marketing and outreach efforts.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Deliver consistently high levels of customer service and maintain a positive company image.<br><br>

         <strong>Job Perks:</strong><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Mileage reimbursement for travel.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	The Yard Logo Polos.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Discounts on services at The Yard, including Hexagon Muscle Recovery and Peppers World Café.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Reduced prices on sports equipment from The Yard Pro Shop.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Opportunity for bonus compensation based on performance.<br><br>
        
         <strong>Application Instructions:</strong><br>
         Interested candidates should fill out the employment application and email your cover letter and resume detailing their experience, specifically 
         highlighting their knowledge of baseball/softball, marketing achievements, and social media expertise to info@theyardsd.com. 
         Please include examples of previous successful marketing campaigns or outreach efforts if available.
         >
        <br/><br/>
      </p>
    </div>
  </div>
</section>
