
<section>
    <div class="container">
        <div class="padding-block-1000">
            <h3>Group Lesson-Ages: 5U - 8U</h3>
            <hr>
            <div class="padding-block-400">
                <ul>
                    <li style="font-size: 16px;">
                       <p>Speed & Agility Group Lesson - 1 hour &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - <strong>$30</strong>
                        <!-- Credit card purchase button-->
                        <!-- <a href="https://chethakan609511.exercise.com/packages/25030/purchase/" target="_blank" style="display: inline-block; margin-left: 100px;"><button class="btn btn-dark"> -->
                        <a href="comingsoon" target="_blank" style="display: inline-block; margin-left: 100px;"><button class="btn btn-dark">                       
                         Not Available   
                        </button></a>
                        <br> 
                        <span class="foot">(ALL packages expire 90 days after purchase.  See cancelation policy under More info)</span>
                        </p>
                        <span style="margin-left: 2px; font-size: 12px; font-weight: bold;">Note: All packages must be paid in full before first scheduled class.  Check-in at front desk. </span>
             
                    </li>
                    
                   
                   <!-- <li>
                        <p>
                            Pitching Lessons - 4hr/week for 8 weeks - <strong>$800</strong>
                            <a href="https://chethakan609511.exercise.com/packages/25236/purchase/" target="_blank"style="display: inline-block;  margin-left: 100px;" ><button class="btn btn-dark">Purchase</button></a><br>
                            <span class="foot">(Expires 60 days after purchase)</span>
                        </p>
                    </li> -->
                </ul>
            </div>
          <!--a href="https://playat.theyardsd.com/booking/?available=all&curTab=bookPurchase&end=1696564799&end_string=2023-10-05&start=1695960000&start_string=2023-09-29#"><button class="btn btn-dark">Go to Booking</button></a-->
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="padding-block-10">
            <h3>Individual Packages - All age groups</h3>
            <hr>
            <div class="padding-block-0">
                <ul>
                    <li style="font-size: 16px;">
                       <p>Speed & Agility Individual Lesson - 1 hour  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - <strong>$85</strong>
                        <!-- <a href="https://chethakan609511.exercise.com/packages/26781/purchase/" target="_blank" style="display: inline-block; margin-left: 100px;"><button class="btn btn-dark">Purchase</button></a> -->
                        <a href="comingsoon" target="_blank" style="display: inline-block; margin-left: 100px;"><button class="btn btn-dark">Not Available</button></a>
                        <br>
                        
                        </p>
                    </li>
                    <li>
                        <p> Speed & Agility Individual Lesson - 1/2 hour  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;- <strong>$45</strong>
                            <!-- <a href="https://chethakan609511.exercise.com/packages/26782/purchase/" target="_blank" style="display: inline-block;  margin-left: 100px;" ><button class="btn btn-dark">Purchase</button></a> -->
                            <a href="comingsoon" target="_blank" style="display: inline-block;  margin-left: 100px;" ><button class="btn btn-dark">Not Available</button></a>
                           
                        </p>
                    </li>
                    
                    <!-- <span style="margin-left: 2px; font-size: 24px;">Check Availability</span>
                    <a href="https://chethakan609511.exercise.com/booking?serviceId=10842&embedded=true&iframe=true&web_embed=true" target="_blank"style="display: inline-block;  margin-left: 40px;" ><button class="btn btn-dark">Booking Calendar</button></a><br>
                   -->
                     <br> 
                     <span class="foot">(ALL packages expire 90 days after purchase.  See cancelation policy under More info)</span><br>
            <span style="margin-left: 2px; font-size: 12px; font-weight: bold;">Note: All packages must be paid in full before first scheduled class.  Check-in at front desk. </span>
             
                   <!-- <li>
                        <p>
                            Pitching Lessons - 4hr/week for 8 weeks - <strong>$800</strong>
                            <a href="https://chethakan609511.exercise.com/packages/25236/purchase/" target="_blank"style="display: inline-block;  margin-left: 100px;" ><button class="btn btn-dark">Purchase</button></a><br>
                            <span class="foot">(Expires 60 days after purchase)</span>
                        </p>
                    </li> -->
                </ul>
            </div>
          <!--a href="https://playat.theyardsd.com/booking/?available=all&curTab=bookPurchase&end=1696564799&end_string=2023-10-05&start=1695960000&start_string=2023-09-29#"><button class="btn btn-dark">Go to Booking</button></a-->
        </div>
    </div>
</section>
