<section class="bg-primary">
  <div class="fluid-contaier">
    <div class="border-top p-4 d-flex flex-wrap justify-content-between">
      <div class="d-flex flex-wrap">

        <div class="flex-wrap d-flex gap-3 align-center justify-content-center">
          <a href="https://apps.apple.com/us/app/the-yard-sd/id6461773623"
            ><img class="img w-35 h-35"
              src="../../assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 1.png"
              alt="apple app store" /></a>
          <a  href="https://play.google.com/store/apps/details?id=com.theyardsd.playat.own&pli=1"><img
              class="img w-35 h-35"
              src="../../assets/google-play-badge 1.png"
              alt="google play"/></a>
        </div>
        <p class="btn text-white">
          ©Copyright Hexagon Muscle Recovery 2024
        </p>
        <!--Remove because its under more information-->
        <!-- <a href="/privacy" class="btn btn-link text-white">Privacy Policy</a> -->
        <!-- <a routerLink="/information/privacy" class="btn btn-link text-white">Terms of Service</a> -->
        <!-- <a href="/contactus" class="btn btn-link text-white">Contact Us</a> -->
      </div>
      <div class="">
        <div class="text-right">
          <a
            href="https://www.facebook.com/profile.php?id=61552070461549&mibextid=LQQJ4d"
            class="link-unstyled mx-2"
          >
            <img src="../../assets/icons/facebook.svg" alt="facebook" />
          </a>
          <a
            href="https://www.instagram.com/theyardsd_middletownohio/"
            class="link-unstyled mx-2"
          >
            <img src="../../assets/icons/instagram.svg" alt="instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
