
.storeinfo-page-heading {
    // padding-top: 2px;
    border-radius: 25px;
    border-color: black;
     padding-bottom: 2px;
 }
 
 // .foot {
 //     padding: auto;
 //     font-size: 9pt;
 //     opacity: 75%;
 // }