
Advanced technology? Yes. Science fiction? Nope. 
<body class="border-bottom">
    <section class="bg-light">
        <div class="container margin">
            <div class="headliner">
            <h2>Red Light Therapy at Hexagon Muscle Recovery</h2></div>
            <div class="padding-block-200"> 
                <h3>Thd Benifits of Red Light Therapy</h3>
                <p>More Energy for you and your Cells.</p>
                <p>Recharge your cells with Red Light Therapy. Just like plants use sunlight to heal and grow, our body is able to harness specific wavelengths of light and turn them into cellular energy. This, in turn, stimulates your body’s natural healing processes.</p>
             </div>
        </div>
        <div class="container margin">
            <div class="padding-block-200"> 
                <h3>What is Red Light Therapy (PBM)?</h3>
                    <p>Red Light Therapy (aka, Photobiomodulation therapy or just PBM) delivers a therapeutic dose of red and near-infrared light in an efficient full body treatment. When light is applied with the right wavelength, intensity, and duration, your body’s cells react by producing more energy. So instead of just having enough energy to get by, your cells get a boost that allows them to repair, replicate, and do their jobs. When all the different cells in your body all do their jobs really, really well, you get broad health benefits such as:</p>
            </div>
        </div>
        <div class="container margin">
            <div class="padding-block-200"> 
                <h3> How It Works</h3>
                    <p>At Hexagon Muscle Recovery, when we say Advanced Technology. Advanced Results. We really – really – mean it. Truthfully speaking, we were snobs when it came to choosing our Red Light Therapy machines to ensure you enjoy the best experience and profound results each and every time.</p>
                    <p>Joovv Elite Red Light Therapy is a FULL BODY red light therapy PBM system that utilizes LEDs that were specifically designed to maximize therapeutic output. Joovv’s Electrostatic-coated lenses have a mirrored finish, so virtually all of the light produced by the device reaches the desired treatment area. It is the most powerful whole body panel on the market to deliver a therapeutic dose of PBM. With our 15 minute session, you will receive the most beneficial dose of PBM available.</p>
                    <p>Joovv also worked with the FDA to attain Class II registration, which allows them to conduct clinical trials with their devices—potentially revealing even more light therapy health benefits beyond what’s already been scientifically proven.</p>
                    <!-- <p>Click here for frequently asked questions about Joovv Red Light Therapy.</p> -->
            </div>
        </div>
        <!-- <div class="container margin">
            <div class="padding-block-200"> 
                <h3> Advanced Technology. Advanced Results.®</h3>
                    <p>At Hexagon Muscle Recovery, Reveal your best self with Joovv Red Light Therapy PBM at Degree Wellness®.</p>
                    <p>Joovv Elite Red Light Therapy is a FULL BODY red light therapy PBM system that utilizes LEDs that were specifically designed to maximize therapeutic output. Joovv’s Electrostatic-coated lenses have a mirrored finish, so virtually all of the light produced by the device reaches the desired treatment area. It is the most powerful whole body panel on the market to deliver a therapeutic dose of PBM. With our 15 minute session, you will receive the most beneficial dose of PBM available.</p>
            </div>
        </div> -->

        More Energy for you and your Cells
        Advanced technology? Yes. Science fiction? Nope. Recharge your cells with Red Light Therapy. Just like plants use sunlight to heal and grow, our body is able to harness specific wavelengths of light and turn them into cellular energy. This, in turn, stimulates your body’s natural healing processes.
        
        
       


 
        
        






    </section>