<body class="border-bottom">
    <section class="bg-light">
        <div class="container margin">
            <div class="headliner">
            <h2>Whole Body Cryotherapy</h2></div>
            <div class="padding-block-200"> 
                <h3>Whole Body Cryotherapy</h3>
                <h3>Thd Benifits Whole Body Cryotherapy</h3>
                <p>More Energy & Endorphins. Less Inflammation & Pain.– Hexgon Muscle Recovery, a state-of-the-art facility and the premier destination for athletes in the Dayton & Cincinnati area.</p>
                <p>Advanced technology? Yes. Hexgon Muscle Recovery offers the ONLY ALL ELECTRIC whole body cryotherapy system in Middletown — no exposure to the dangers of nitrogen.</p>
                <p> Science fiction? Definitely not. Full Body Cryotherapy is the proven science of exposing the body to sub-zero temperatures in order to stimulate tremendous physical and mental health benefits.</p>
            </div>
        </div>
    </section>


    <section class="bg-light">
        <div class="container margin">
            <div class="padding-block-200"> 
                <h3>Trying is Believing</h3>
                <h3>Extensive studies have shown Cryotherapy</h3>
                <p>Reduces inflammation to help relieve pain including chronic pain, arthritis and migraines</p>
                <p>Boosts blood circulation for higher metabolic and calorie-burn rate (500-800 calories)</p>
                <p>Increases the level of endorphins, which can elevate mood, energy levels and reduce stress</p>
                <p>Increases collagen production to reduce wrinkles, tighten skin and reveal a youthful glow</p>
                <p>Reduces cellulite and increases production of brown fat (the good stuff!)</p>
                <p>Enhance your nervous system for peak mental performance</p>
                <p>Whole Body Cryotherapy sessions are 3-minute or less. In that time, the entire body is exposed to extreme temperatures as low as -140ºC (-220ºF). Short time, massive benefits — as each Cryo session promotes your body’s recovery, performance, wellness, beauty and weight-loss abilities.</p>
                <p>Click here for frequently asked questions.</p>
            </div>
        </div>
    </section>


    <section class="bg-light">
        <div class="container margin">
            <div class="padding-block-200"> 
                <h3>The Technology</h3>
               <p>At Hexagon Muscle Recovery, when we say Advanced Technology. Advanced Results. We really – really – mean it.</p>
               <p>We have chosen the top-of-the-line & state-of-the-art Whole Body Cryotherapy machine to ensure you get the best experience and maximize results each and every time.</p>
               <p>We offer the ONLY ALL ELECTRIC Whole Body Cryotherapy machines in Middletown (no exposure to the dangers of nitrogen!)</p>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container margin">
            <div class="padding-block-200"> 
               <h3>The Science has been proven</h3>
               <p>The benefits of cryo are well understood in the pro sports, entertainment and fitness industries.</p>
               <p>Here are just some examples of the prominent users of cryo:</p>
               <p>♦ https://www.huffpost.com/entry/mark-wahlberg-ellen-degeneres-cryotherapy_n_5b8fdd1de4b0511db3de144f</p>
               <p>♦ https://www.huffpost.com/entry/mark-wahlberg-ellen-degeneres-cryotherapy_n_5b8fdd1de4b0511db3de144f</p>
               <p>♦ https://www.shape.com/celebrities/interviews/jennifer-aniston-self-care-fitness-beauty-routine</p>
               <p>♦ https://www.dailymail.co.uk/health/article-4590172/Why-Hugh-Jackman-s-cryotherapy-good-you.html</p>
               <p>♦ https://www.forbes.com/sites/jimdobson/2015/10/12/celebrities-and-athletes-taking-the-deep-freeze-the-cryotherapy-craze/?sh=6a27923e7a80</p>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container margin">
            <div class="padding-block-200"> 
               <h3>More ways to learn</h3>
               <p>You can also learn more about the specific ways that Full Body Cryotherapy can help using the links below.</p>
               <p>♦ Pain management</p>
               <p>♦ Beauty & Anti-aging</p>
               <p>♦ Weight loss</p>
               <p>♦ Increased Energy</p>
               <p>♦ Health & Wellness</p>
            </div>
        </div>
    </section>



    

     





</body>


