.heading-txt {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    width: 150px;
    height: 3px;
    background: #304939;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-top: 130pt;
  border-radius: 8px;
}

.form-control {
  padding: 10px;
  height: 40px;
}

textarea.h-100p {
  height: 100px;
}

span.scale-rating {
  margin: 5px 0 15px;
  display: inline-block;
  width: 100%;

  label {
    position: relative;
    outline: 0 !important;
    height: 35px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;

    &:before {
      content: attr(value);
      top: 9px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
      z-index: 2;
    }

    &:hover {
      background: #bdbdbd;
      &:before {
        content: attr(value);
        color: #ffffff;
      }
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      outline: 0 !important;
      margin: 0 5px 0 0;
      width: 100%;
      float: left;
      cursor: pointer;
      z-index: 3;
      &:last-child {
        border-right: 0;
      }
    }

    input[type="radio"] {
      &:checked {
        ~ {
          label {
            margin: 0;
            background: #bdbdbd;
          }
        }
      }
    }
  }

  .brdr {
    border: 1px solid #bdbdbd;
  }
}
