<body class="border-bottom">
    <section class="bg-light">
        <div class="container margin">
            <div class="headliner">
            <h2>IV's & Vitamin Boost</h2></div>
            <div class="padding-block-200"> 
                <h3>IV Treatments by Hexagon Muscle Recovery</h3>
                <h3>The Benifits of IV Drip and Hydration Therapy</h3>
                <p>IV Drips and boost shots increase the bioavailability of the specific supplement available for your body to obsorb.</p>
                <p>Hexagon Muscle Recovery IV and boost shots increase absorption and bioavailability
                 of the supplement to close to 100%. Because IVs deliver nutrients directly into the 
                 bloodstream – bypassing the digestive system and intestinal tract – they are absorbed 
                 more quickly. That means you’ll feel the benefits of an IV right away!</p>
                 <h3>IV Drip and Hydration Therapy have 100% bioavailability</h3>
                 <p>Hexagon Muscle Recovery is making IVs easy and affordable! Plus Members benefit from even greater savings. Our IVs and Boosters are specially formulated and doctor recommended. No matter what your goals, HMR has an IV ready to help you!</p>
            </div>
        </div>
    </section>

   


 

 
