<section class="bg-primary bg-gradient pt-120">
  <div class="container coach-page-heading">
    <div>
      <button
      routerLinkActive="active"
      [routerLink]="['/employmentapp']"
      class="btn btn-light mb-5"
    >
      ←Back to employment application
    </button>
      <!--button routerLinkActive="active" routerLink="/home" class="btn btn-light mb-5">←Back to home</button-->

      <!-- <h2 class="text-white">Team JSH - Featuring Drew Rechark & Brock Mathis - A Beacons of Expertise in Youth Athletic Development.</h2> -->
      <h2 class="text-white">The Yard - Assistant Program Director</h2>
      <hr class="text-light" />
      <p class="padding-block-10 text-light mb-0">
       <strong>Details Comming soon.</strong>
        <br /><br />
      </p>
    </div>
  </div>
</section>
