<!-- comingsoon.component.html -->

<div class="coming-soon-container">
  <div class="padding-block-800"></div>
    <div class="background">
      <!-- Placeholder for cloud animations -->
      <div class="cloud-animation"></div>
    </div>
     <section class="heythere">
      <p><h3>Hey there!</h3>
    </section>>

    <section class="container1">
      <div class="box" >
        <img src="../../assets/images/underconstruction.JPG" alt="Cartoon Crane" class="crane-img">
       </div>
    </section>>
  
  <div class="text">
      <span style="margin-left: 275px; font-size: 34px;">This page is still under construction so thank you for your patience.</span><br>
      <span style="margin-left: 525px; font-size: 34px;">I promise we're building something amazing!</span><br>
      <span style="margin-left: 600px; font-size: 48px;"><strong>Check back Soon!</strong></span><br>
</div>
  
