<section class="bg-primary bg-gradient pt-120">
    <div class="container coach-page-heading">
      <div>
        <button
        routerLinkActive="active"
        [routerLink]="['/employmentapp']"
        class="btn btn-light mb-5"
      >
        ←Back to employment application
      </button>
        <!--button routerLinkActive="active" routerLink="/home" class="btn btn-light mb-5">←Back to home</button-->
  
        <!-- <h2 class="text-white">Team JSH - Featuring Drew Rechark & Brock Mathis - A Beacons of Expertise in Youth Athletic Development.</h2> -->
        <h2 class="text-white">The Yard - Sales Team member</h2>
        <hr class="text-light" />
        <p class="padding-block-10 text-light mb-0">
          <br />
  
          Leadership. Energy. Growth. As a sales team member, you will be
          responsible for providing leadership and assisting the Facility Manager
          with delivering daily direction to the sales and group personal training
          teams. As part of the leadership team for the sales function, the ASM
          must assist with lead generation / marketing strategies to increase
          fitness program sales as well as promote the health and wellness
          benefits that are associated with a healthy lifestyle. This leader must
          pose a high caliber approach to accountability, collaboration, and
          positivity. The ASM works hand-in-hand with the Studio Manager and Head
          Coach to ensure excellence in customer service, operations and studio
          performance. JOB DUTIES INCLUDE: • Model the Daily Production Model (40+
          contacts, 10 leads, 4 appointments, 2 sales) • Assist with onboarding,
          training and coaching the sales team • Maintain a strong understanding
          of all promotions and studio events • Be able to deliver timely feedback
          to all team members • Contribute to a high energy culture with the
          ability to motivate self and others • Responsible for assisting SM with
          managing inventory, facilities, and other studio needs • Attend all
          staff meetings and work with SM to lead a section each meeting that
          aligns with ASM development plan • Ensure that all front desk systems
          are followed such as Member Check-in, Telephone Inquiries, 30 Second
          Pitch, Intro Booking, New Join Onboarding, Lead Management, Late
          Cancel/Early Cancel, Cancellations, Freezes, Promotions Terms and
          Conditions,
  
         
          <br /><br />
        </p>
      </div>
    </div>
  </section>
