<section class="bg-primary bg-gradient pt-120">
  <div class="container coach-page-heading">
    <div>
      <button
        routerLinkActive="active"
        [routerLink]="['/employmentapp']"
        class="btn btn-light mb-5"
      >
        ←Back to employment application
      </button>
      <h2 class="text-white">The Yard - Youth Sports Summer Camp Coach</h2>
      <hr class="text-light" />
      <p class="padding-block-10 text-light mb-0">
        Greetings!<br />
        <a>
          Are you ready to have an awesome job where you will have FUN, get paid
          to do what you love, and have a blast inspiring kids to reach their
          goals in sports and in life? <br />
          If you answered YES, then keep reading below because this summer camp
          job may be perfect for you! :) <br />
          The Yard Youth Sports summer camp is now hiring youth coaches with
          experience coaching one or more of the following sports:<br />
          <br />
          • Baseball<br />
          • Softball<br />
          • Soccer<br />
          • La Crosse<br />
          • Dodgeball<br />
          • P.E. Type Games & Activities<br />
          <br />
          <br />
          We offer paid training, free uniforms, and much more! <br /><br />
          Requirements:<br />
          - Must have experience working with children<br />
          - Must have reliable transportation<br />
          - Must be enthusiastic and have a positive attitude for success!<br />
          - Must own a smartphone or computer for regular text and email
          communication<br /><br />

          $11 to $17 per hour. <br />
          We have morning and afternoon shifts available!<br />

          Do you have what it takes to be the person who we hire for this
          position? <br />
          If so, respond to this job ad with your resume! Please be sure to
          include your teaching experience, previous job experience, and
          references! <br /><br /><br />
          We are excited to talk to you soon and schedule an interview!

          <br />
          <br />
        </a>
      </p>
    </div>
  </div>
</section>
<!-- <button routerLinkActive="active" routerLink="" class="btn btn-light mb-5">←Back to home</button> -->
