.package h1 {
    text-align: center;
    margin-bottom: 10px;
    
  }  

  .package h2 {
    text-align: center;
    margin-bottom: 10px;
    
  }  

  .offer p {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 1px;
    
  }  

  .details h1{


  }