<header></header>
<br>
<br>
<br>
<br>
<br>
<div class="box-container">
  <div class="package">
    <h1><span style="color: black;">The Yard's</span></h1>
    <h1><span style="color: red;">Founders Club</span></h1>
    <h1><span style="color: red;">Special!</span></h1>
    <h2><strong>Founders Club is only available to the FIRST 100 signups!</strong></h2>
    <h2><strong>AAA-Package Monthly plan - $60.00</strong></h2>
    </div>
    <div class="offer">
    <p><span style="margin-left: 50px"><strong>The Founders Club offers exclusive perks and is available to members only.</strong></span></p>
    <p><span style="margin-left: 50px"><strong>Reserve your spot now without immediate charge. Your credit card will only be billed on June 1st or when you start using your membership, whichever comes first.</strong></span></p>
    <p><span style="margin-left: 50px"><strong>Unsure about this offer? Schedule a tour at The Yard to see what it’s all about—just call us at 513-433-1069. Don’t forget to bring your bat & helmet.</strong></span></p>
    <p><span style="margin-left: 50px"><strong>If the tour doesn't meet your expectations, you have until May 30th, 2024, to cancel your reservation and avoid any charges.</strong></span></p>
    <p><span style="margin-left: 50px"><strong>This is the lifetime price and will never go up as long as you keep the membership active.   </strong></span></p><br>
    </div>
    <div class="offer">
    <span style="margin-left: 50px"><strong>Unlimited Swings:</strong> Our Fungoman Pitching Machines are at your disposal. There's no limit to how much you can practice, so you're free to perfect your swing to your heart's content. Time limits apply.</span><br>
    <span style="margin-left: 50px"><strong>Free Hittrax Membership:</strong> Includes a free Baseline Assessment—a $79 value!</span><br>
    <span style="margin-left: 50px"><strong>Complimentary Cage Time:</strong> Enjoy a free half-hour in cages 1, 2, or 3 daily. Want more time? Extend your session for just $20 per half-hour. Note: Free cage time does not accrue.</span><br>
    <span style="margin-left: 50px"><strong>Exclusive Discounts:</strong> Elevate your game with 10% off our training programs, camps, and clinics.</span><br>
    <span style="margin-left: 50px"><strong>HitTrax Entertainment:</strong> AAA Members get access to HitTrax GameCenter and PlayLive National Leaderboard for free. Enjoy the local game pack, featuring Home Run Challenge, SMASHBALL, Bat Challenge, and much more.</span><br>
    <span style="margin-left: 50px"><strong>10% OFF Open Area Rental</strong></span><br>
    <span style="margin-left: 50px"><strong>10% OFF Pro Shop Merchandise</strong></span><br>
    <p><strong>Add a sibling:</strong> Add a sibling to the package for $20.00/month per sibling.</p>
    <span style="margin-left: 50px"><strong>The Yard Exclusive - Bring a friend:</strong>AAA Membership holders can invite up to three people for a special rate of $10 per person per visit.</span><br>
    <span style="margin-left: 50px">Important: The AAA Membership is automatically renewed each month. You can cancel your membership at any time by visiting the attendance desk.</span><br>
    <span style="margin-left: 50px">Note: Memberships are for individual use only, except for the "Bring a Friend" option.</span><br>
    <span style="margin-left: 50px">Note:  All Training programs, camps, and clinics are to be purchased and scheduled through this website.</span><br><br>
     
    <a href="/founders" class="btn btn-link text-Black">RESERVE</a>
    <!--button (click)="PurchaseAAAMP()">Purchase</button-->
     
      <!-- <a  target="_blank"style="display: inline-block;  margin-left: 50px;" (click)="PurchaseAAAMP()"><button class="btn btn-dark" >
       RESERVE Purchase                        -->
    <!-- </button></a> -->
    <br>
    <br>
    <br>
    <br>
  </div>
 
</div>
