<section class="bg-primary bg-gradient pt-120">
  <div class="container coach-page-heading">
    <div>
      <button
      routerLinkActive="active"
      [routerLink]="['/employmentapp']"
      class="btn btn-light mb-5"
    >
      ←Back to employment application
    </button>
      <!--button routerLinkActive="active" routerLink="/home" class="btn btn-light mb-5">←Back to home</button-->

      <!-- <h2 class="text-white">Team JSH - Featuring Drew Rechark & Brock Mathis - A Beacons of Expertise in Youth Athletic Development.</h2> -->
      <h3 class="text-white">Baseball & Softball Hitting Instructor</h3>
      <hr class="text-light" />
      <p class="padding-block-10 text-light mb-0">
        <strong>Company Overview:</strong><br> 
        The Yard Sports Development LLC, a premier baseball and softball training facility,
        opened its doors in 2023. Located off Interstate 75 at the Middletown exit, our 11,000 sf 
        state-of-the-art facility is equipped with cutting-edge technology including 2 HitTrax systems and Rapsoto 3.0. 
        Our commitment to utilizing technology to enhance athletic performance is matched by the expertise of our 
        instructors, who are adept at translating complex data into actionable insights for individual performance improvement.<br><br>
        <!-- <strong>Job Summary:</strong><br>
        The Yard Brand Ambassador plays a crucial role in enhancing the visibility and reputation of The Yard within 
        the community. This individual will leverage guerrilla and digital marketing tactics to educate potential 
        customers about our facilities, trainers, and programs, with the ultimate goal of increasing our membership and 
        registration base. The successful candidate will be deeply knowledgeable about baseball, proficient in social 
        media, possess a marketing background or strong interpersonal skills, maintain impeccable hygiene, and have 
        reliable transportation for local travel. Flexibility to work off-hours and weekends is required, with optional 
        travel to conventions.<br><br>   -->

        <h3 class="text-white">Minimum Qualifications</h3>
        <ul class="text-white">
          <li>Experience: Must have played or coached baseball at the collegiate level or higher.</li>
          <li>Youth Engagement: Demonstrates enthusiasm for mentoring young athletes.</li>
          <li>Passion: Strong affinity for baseball, softball, or speed and agility training.</li>
          <li>Character and Relationship Building: High integrity individual skilled in building relationships.</li>
          <li>Communication Skills: Exceptional ability to communicate clearly and effectively.</li>
          <li>Team Spirit: Positive outlook and ability to collaborate well within a team.</li>
          <li>Instructional Skills: Capable of tailoring coaching methods for children and teenagers aged 6-18.</li>
          <li>Professionalism: Responsible, punctual, and fully committed to the development of players.</li>
        </ul>
        <h3 class="text-white">Preferred Qualifications</h3>
        <ul class="text-white">
          <li>Learning Orientation: Eager to learn with a receptive and adaptable approach.</li>
          <li>Technological Proficiency: Familiarity with various technological tools.</li>
          <li>Client Relationship Management: Positive and engaging interpersonal skills.</li>
        </ul>
        <h3 class="text-white">Advanced Qualifications</h3>
        <ul class="text-white">
          <li>Educational Background: Bachelor's degree in a sports-related field is preferred.</li>
          <li>Expertise in Pitching: Comprehensive knowledge of pitching mechanics and strategies.</li>
          <li>Playing Experience: College or professional playing experience is highly advantageous.</li>
        </ul>
         <strong class="text-white">Job Responsibilities:</strong><br>
         <ul class="text-white">
          <li>Compliance with Policies: Adhere strictly to The Yard’s Policies and Procedures.</li>
          <li>Client Development: Actively develop a training base by collaborating with the front office.</li>
          <li>Lead Conversion: Available for promotional and first-time lessons to convert attendees into regular clients.</li>
          <li>Client Retention: Use The Yard’s back-end software to rebook, and maintain a regular schedule for clients.</li>
          <li>Instructional Planning: Develop tailored instructional plans for each client.</li>
          <li>Performance Evaluation: Establish an instructional evaluation process.</li>
          <li>Technology Integration: Utilize advanced in-house training technology.</li>
      </ul>

         <strong class="text-white">Job Perks:</strong><br>
         <ul class="text-white">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	The Yard Logo Polos.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Discounts on services at The Yard, including Hexagon Muscle Recovery and Peppers World Café.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Reduced prices on sports equipment from The Yard Pro Shop.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Opportunity for bonus compensation based on performance.<br><br>
        </ul>
        <ul class="text-white">
         <strong>Application Instructions:</strong><br>
         Interested candidates should fill out the employment application and email your cover letter and resume detailing your experience, specifically 
         highlighting your knowledge of baseball and softball to info@theyardsd.com. 
         </ul>
        <br/><br/>
      
    </div>
  </div>
</section>

