<body class="border-bottom">
    <section class="bg-primary bg-gradient">
        <div class="container-fluid pt-2 padding-block-600">
            <div class="pt-5">
                <h2 class="text-white text-center mt-5">WINNERS TRAIN AT</h2>
                <!--img class="mx-auto d-block buy-logo" src="../../assets/images/buy2.png" alt="buy Badge"-->
                <img class="mx-auto d-block hero-logo" src="../../assets/yardherobadge.svg" alt="Yard Hero Badge">

            </div>
            <!-- <div class="mx-auto padding-block-400">
              <p class="text-light text-center">Join the Grind<br><img src="../../assets/icons/fast-arrow-down.svg"></p>
            </div> -->
           </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="padding-block-500">
                <div class=" pb-3">
                    <h3>The Yard Sports Development Refund & Cancellation Policy</h3>
                    <br><br>
                    <!-- <p>Safety is The Yard Sports Development's top priority. Your safety, our safety and the equipment safety.  
                        Have fun, but be safe!</p> -->
                    <h4><strong>1.	Memberships</strong></h4>
                    <p>Memberships can be cancelled at anytime. No refunds on memberships once puchased.</p>
                    <h4><strong>2.	Tokens</strong></h4>
                    <p>All tokens are non-refundable.  If there are issues with the Fungoman machines, tokens will be re-issued.</p>    
                    <h4><strong>3. Cages 1,2,3 & 4</strong></h4>  
                    <p>Cages 1, 2, 3, and 4 must be reserved with a credit card. We kindly request that any cancellations be made at least 4 hours prior to the scheduled time to avoid any charges.</p>
                    <p>Cancellations made within 4 hours of the scheduled time will incur a $10.00 fee.</p>
                    <p>No-shows or failure to cancel will result in a charge equal to the full cost of the rental.</p>
                    <p>Thank you for understanding and respecting our cancellation policy.</p> 
                    <h4><strong>4.	Special Training</strong></h4>   
                    <p>
                    <h4><strong>Scheduling and Usage</strong></h4>
                        <li><strong>Duration:</strong>  Customers who purchase special training sessions, such as the 4-hour lessons package, must 
                            use all the allotted time within 90 days from the date of purchase.</li> 
                        <li><strong>Scheduling:</strong>  Sessions must be scheduled at least 24 hours in advance and are subject to the 
                            availability of trainers and facilities.</li>
                            <br>
                    <h4><strong>Refunds and Cancellations</strong></h4>
                        <li><strong>No Refunds on Unused Portions:</strong>  There are no refunds for any unused portions of the special training sessions. 
                            It is the responsibility of the customer to ensure that all sessions are utilized within the 90-day period.</li>  
                        <li><strong>Cancellation of Individual Sessions:</strong>  If a customer needs to cancel a scheduled session, they must do so at 
                            least 24 hours in advance. The session can then be rescheduled within the original 90-day period, subject to availability.</li>  
                        <li><strong>Failure to Reschedule:</strong>  Failure to reschedule a canceled session within the 90-day validity period will result 
                            in the loss of that session with no entitlement to a refund.</li>
                    <br>     
                    <h4><strong>5.	Exceptions  </strong></h4>  
                    <li><strong>Extenuating Circumstances:</strong>  In cases of severe illness, injury, or other significant extenuating circumstances, 
                        exceptions to this policy may be considered at the discretion of the management. Documentation such as a medical certificate may be required.</li>  
                    <br>
                    <h4><strong>6.	Disclaimer on Scheduling and Rescheduling  </strong></h4>  
                        <li><strong>Extenuating Circumstances:</strong>  Due to the high volume of teams and individuals using the facilities at The Yard Sports Development, 
                            it is important for all teams to adhere to their scheduled times. Once a team commits to a time and day, we are often unable to offer 
                            alternative spots due to the lack of available room. In cases where a cancellation is necessary and rescheduling is not possible because of these 
                            constraints, a refund will be provided for the affected session. We strongly encourage all teams to carefully consider their schedules before
                            booking to avoid any inconveniences and to ensure the best use of available resources.</li>  
                </div>
            </div>
        </div>        
    </section>
</body>



