<section class="bg-primary bg-gradient pt-120">
  <div class="container coach-page-heading">
    <div>
      <button
      routerLinkActive="active"
      [routerLink]="['/employmentapp']"
      class="btn btn-light mb-5"
    >
      ←Back to employment application
    </button>
      <!--button routerLinkActive="active" routerLink="/home" class="btn btn-light mb-5">←Back to home</button-->

      <!-- <h2 class="text-white">Team JSH - Featuring Drew Rechark & Brock Mathis - A Beacons of Expertise in Youth Athletic Development.</h2> -->
      <h3 class="text-white">General Manager</h3>
      <hr class="text-white" />
      <p class="padding-block-10 text-light mb-0">
        <strong>Company Overview:</strong><br> 
        The Yard Sports Development LLC, a premier baseball and softball training facility,
        opened its doors in 2023. Located off Interstate 75 at the Middletown exit, our 11,000 sf
        state-of-the-art facility is equipped with cutting-edge technology including 2 HitTrax systems and Rapsoto 3.0.
        Our commitment to utilizing technology to enhance athletic performance is matched by the expertise of our
        instructors, who are adept at translating complex data into actionable insights for individual performance improvement.<br><br>
        <strong>Job Summary:</strong><br>
        <li>The General Manager is responsible for overseeing all operational and administrative aspects of The Yard Sports Development Center.</li> 
        <li>This critical role ensures the facility operates smoothly and maintains an exceptional level of service. </li>
        <li>Key duties include managing staff, coordinating facility schedules, maintaining equipment quality, and leading customer engagement efforts.</li> 
        <li>The General Manager will also drive continuous membership growth and sustain strong relationships with existing clients. </li>
        <li>An important aspect of the role is working closely with the owners to formulate new revenue streams by leveraging existing equipment</li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and space, aiming to maximize profitability while maintaining high standards of safety and customer satisfaction.<br>
        <br>
        <strong>Key Responsibilities:</strong>
        <hr class="text-light" />
        <ul class="text-white">
        <li> Oversee the daily operations of the facility to ensure all areas, including batting cages, pitching lanes, and open spaces, are well-maintained and fully operational. Implement policies and procedures that enhance operational efficiency.</li>
        <li>Staff Management: Recruit, hire, and train staff members. Manage scheduling, oversee payroll, and conduct performance reviews to ensure staff are well-prepared to meet customer needs.</li>
        <li>Customer Service: Maintain high levels of customer satisfaction through excellent service.</li> 
        <li>Promptly and professionally resolve any issues that arise with customers.</li>
        <li> Membership and Client Relations: Lead a constant membership drive to actively outreach and sign up new clients while maintaining strong relationships with existing clients, ensuring a steady growth in facility patronage.</li>
        <li>Revenue Development: Collaborate with the owners to identify and develop new revenue streams by leveraging existing resources, equipment, and space within the facility.</li>
        <li>Financial Oversight: Assist in budget preparation and manage expenses.</li>
        <li>Financial Oversight: Monitor revenues and expenses, analyze financial reports, and develop strategies to increase profitability.</li>
        <li>Safety Compliance: Ensure compliance with all safety regulations and maintain a safe environment for both staff and clients by ensuring all employees are trained on up-to-date safety protocols.</li>
        <li>Marketing and Promotion: Work with marketing teams to enhance the facility's visibility and attract new customers. Engage in local community events and outreach programs to promote the facility.</li>
        <li>Strategic Planning: Collaborate with the owner to assess facility performance and develop long-term strategies for growth and operational improvement.</li>
        </ul>
        <strong class="text-white">Preferred Qualifications:</strong>
        <hr class="text-light" />
        <ul class="text-white">
        <li>Bachelor’s degree in Business Administration, Sports Management, or a related field preferred.</li>
        <li>Minimum of 5 years of experience in management or supervisory roles within a sports facility, recreation center, or 
            customer service environment.</li>
        <li>Youth Engagement: Demonstrates enthusiasm for mentoring young athletes.</li>
        <li>Character and Relationship Building: High integrity individual skilled in building relationships.</li>
        <li>Communication Skills: Exceptional ability to communicate clearly and effectively.</li>
        <li>Team Spirit: Positive outlook and ability to collaborate well within a team.</li>
        <li>Professionalism: Responsible, punctual, and fully committed to the development of players.</li>
      </ul>
        <strong class="text-white">Job Perks:</strong><br>
         <ul class="text-white">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	The Yard Logo Polos.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Discounts on services at The Yard, including Hexagon Muscle Recovery and Peppers World Café.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Reduced prices on sports equipment from The Yard Pro Shop.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	Opportunity for bonus compensation based on performance.<br><br>
        </ul>
        <ul class="text-white">
         <strong>Application Instructions:</strong><br>
         Interested candidates should fill out the employment application and email your cover letter and resume detailing your experience, specifically 
         highlighting your knowledge of baseball and softball to info@theyardsd.com. 
         </ul>
        <br/><br/>
    </div>
  </div>
</section>
