/* Container styling */
.container {
    max-width: 1200px; /* Max width of the content, adjust as needed */
    margin-top:  130pt; /* Centers the container */
    padding: 15px; /* Padding around the content */
}