<body class="border-bottom">
    
    <section class="bg-light">
        <div class="container">
                <div class=" pb-3">
                    <h3>Privacy and Data Protection Statementy</h3>
                    <p>At Hexagon Muscle Recovery, we prioritize your privacy and are committed to protecting your personal information. 
                        This statement outlines our practices regarding the collection, use, and sharing of your information.</p>
                        <strong><h3>By using our services, you consent to our privacy statement and agree to its terms.</h3></strong><br>
                
                        <h4>Collection of Information:</h4>
                        <p>
                        Hexagon Muscle Recovery collects personal information necessary to provide you with our services, process transactions, and offer a better user experience. 
                        The types of information we collect include: <br> <br>
                       
                       
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * Contact details (such as name, address, email, and phone number)<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * Payment and billing information (for transaction purposes)<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * Other relevant data required for enrollment or participation in our programs<br>
                        </p><br>
                        <h4>Use of Information:</h4>
                        <p>
                        The information we collect is used for the following purposes:<br><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * To facilitate the services you request<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * To process transactions efficiently and accurately<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * To communicate with you regarding our services or changes to our policies<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * To enhance and personalize your experience with our offerings<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * To comply with legal obligations and enforce our agreements<br>
                        </p><br>
                       
                        <h4>Sharing of Information:</h4>
                        <p>
                        Hexagon Muscle Recovery does not sell, rent, or lease your personally identifiable information to third parties. We share information only in the following 
                        circumstances:<br><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * With service providers who assist us in our operations and are bound by confidentiality agreements<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * When necessary to complete a transaction requested by you<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * As required by law, such as in response to a subpoena or similar legal process<br>
                        </p><br>

                        <h4>Protection of Information:</h4>
                        <p>
                        We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit,
                        or access your personal information.
                        </p><br>

                        <h4>Media Release for Minors:</h4>
                        <p>
                        For participants who are minors, Hexagon Muscle Recovery requires a minor waiver for media releases that may include photographs, videos, and voice 
                        recordings to be used for promotional or educational purposes. The Yard:<br><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * Will not use the names of any minor without obtaining prior written consent from a parent or legal guardian.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   * Ensures that all media used conforms to the highest level of privacy and respect for the participants and their families.<br>
                        </p><br>
                        <h4>Your Rights:</h4>
                        <p>
                        You have the right to:<br><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   *Understand how your information is used<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   *Access, update, or correct your information<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   *Request that we delete or restrict the use of your information<br><br>
                        If you have any questions about our privacy practices or wish to exercise your rights, please contact us at 
                        <strong>info@hexagonmuscletrecovery.com</strong><br>
                        <!-- NEED TO COMPLETED https://medium.com/@babatundelamidi/build-an-angular-contact-form-and-post-data-to-email-7b7327e56ad3-->
                        </p><br>
                        <h4>Changes to This Statement:</h4>
                        <p>
                        Hexagon Muscle Recovery reserves the right to update this privacy statement at any time. When we do, we will revise the updated date at the bottom of this page.
                        We encourage you to periodically review this statement to be informed of how we are protecting your information.<br><br>
                        
                        This privacy statement was last updated on November 5th, 2023.<br><br>
                        </p><br>
                                                
                        <h4>Contact Us:</h4>
                        <p>
                        If you have any questions or concerns regarding this privacy statement, please contact us at:<br>
                        <br>
                        Hexagon Muscle Recovery<br>
                        3711 Commerce Drive Unit C, Middletown, Ohio 45005<br>
                        info@hexagonmuscletrecovery.com<br>
                        513-433-hexa<br>
                        <br>
                        We are dedicated to ensuring your privacy is respected and protected.
                        
                        <strong>Hexagon Muscle Recovery</strong>
                    </p>
                </div>
                </div>
        
    </section>
</body>
