<body class="border-bottom">
   <div class="background-image image-margin">
      <div class="container text-black text-center">
          <h3>The Premier Muscle Recovery and Wellness Center</h3>
      </div>
      <div class="container">
        <!-- First Row -->
        <div class="row">
        <!-- may not need this section   -->
          </div>        
       </div>
       <!-- WB Cryo-card -->
       <div class="row">
        <div class="col-md-2 col-sm-12">
        <div class="card coach-card rounded-3">
          <img
              src="../../assets/images/metalcryobutton.png"
              class="card-img-top"
              alt="..."
              style="cursor: pointer;"
              onclick="window.open('cryo')"
          />
          <div class="card-body">
              <h4 class="m-0 text-center text-black bold-heading">WB cryotherapy</h4> 
          </div>
      </div>
      </div>
       <!-- Local Compression-card -->
       <div class="col-md-2 col-sm-12">
       <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalLocalbutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('localcryotherapy')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Local Cryotherapy</h4> 
        </div>
    </div>
    </div>
        <!-- Compression-card -->
        <div class="col-md-2 col-sm-12">
        <div class="card coach-card rounded-3">
          <img
              src="../../assets/images/metalcompressionbutton.png"
              class="card-img-top"
              alt="..."
              style="cursor: pointer;"
              onclick="window.open('compression')"
          />
          <div class="card-body">
              <h4 class="m-0 text-center text-black bold-heading">Compression</h4> 
          </div>
      </div>
      </div>
      <!-- Stretch-Card -->
      <div class="col-md-2 col-sm-12">
      <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalstretchbutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('stretch')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Stretch Therapy</h4> 
        </div>
    </div>
      </div>
      <!-- Oxygen-Card -->
      <div class="col-md-2 col-sm-12"> 
        <div class="card coach-card rounded-3">
            <img
                src="../../assets/images/metalOxybutton4.png"
                class="card-img-top"
                alt="..."
                style="cursor: pointer;"
                onclick="window.open('oxygen')"
            />
            <div class="card-body">
                <h4 class="m-0 text-center text-black bold-heading">Oxygen Therapy</h4> 
            </div>
        </div>
    </div>
      <!-- Massage-Card -->
      <div class="col-md-2 col-sm-12">
      <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalchairbutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('massage')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Massage Chair</h4> 
        </div>
    </div>
    </div>
    </div>
   

      <!-- These services will be added later -->
      <!-- Redlight-Card -->
      <!-- <div class="col-md-2 col-sm-12">
      <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalfacebutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('redlight')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Redlight Therapy</h4> 
        </div>
    </div>
      </div> -->
      <!-- drip-Card -->
      <!-- <div class="col-md-2 col-sm-12">
      <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalVitaminbutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('drip')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Drip Therapy</h4> 
        </div>
    </div>
      </div> -->
      <!-- Float-Card -->
      <!-- <div class="col-md-2 col-sm-12">
      <div class="card coach-card rounded-3">
        <img
            src="../../assets/images/metalVitaminbutton.png"
            class="card-img-top"
            alt="..."
            style="cursor: pointer;"
            onclick="window.open('float')"
        />
        <div class="card-body">
            <h4 class="m-0 text-center text-black bold-heading">Dry Float Therapy</h4> 
        </div>
    </div>
      </div> -->


      <!-- Halation-Card -->
      <!-- <div class="col-md-2 col-sm-12"> 
        <div class="card coach-card rounded-3">
            <img
                src="../../assets/images/metalVitaminbutton.png"
                class="card-img-top"
                alt="..."
                style="cursor: pointer;"
                onclick="window.open('salt')"
            />
            <div class="card-body">
                <h4 class="m-0 text-center text-black bold-heading">Halation</h4> 
            </div>
        </div>
    </div>
    </div> 
   </div> -->



      <div class="container-middle">
        <div class="small-boxes">
          <div class="small-box"><app-storeinfo></app-storeinfo></div>
          <div class="small-box">
            <a
              href="https://www.google.com/maps/place/3711+Commerce+Dr,+Middletown,+OH+45005/@39.497725,-84.322669,17z/data=!4m6!3m5!1s0x88405e39fe1fccd7:0x6f3acded48cbda2f!8m2!3d39.4977254!4d-84.3226694!16s%2Fg%2F11c4nz0pp4?hl=en"
              ><button class="btn btn-dark">View on Google Maps</button></a
            >
          </div>
        </div>
        <div class="middle-space"></div>
        <div class="large-box">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.3712778374882!2d-84.32395686130663!3d39.49772746262815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88405e39fe1fccd7%3A0x6f3acded48cbda2f!2s3711%20Commerce%20Dr%2C%20Middletown%2C%20OH%2045005!5e0!3m2!1sen!2sus!4v1684276403495!5m2!1sen!2sus"
            width="100"
            height="300"
            style="border: 5px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="middle-space"></div>
      </div>
   </div>
</body>





  <!-- <section>
    <div class="container-middle">
      <div class="small-boxes">
        <div class="small-box"><app-storeinfo></app-storeinfo></div>
        <div class="small-box">
          <a
            href="https://www.google.com/maps/place/3711+Commerce+Dr,+Middletown,+OH+45005/@39.497725,-84.322669,17z/data=!4m6!3m5!1s0x88405e39fe1fccd7:0x6f3acded48cbda2f!8m2!3d39.4977254!4d-84.3226694!16s%2Fg%2F11c4nz0pp4?hl=en"
            ><button class="btn btn-dark">View on Google Maps</button></a
          >
        </div>
      </div>
      <div class="middle-space"></div>
      <div class="large-box">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.3712778374882!2d-84.32395686130663!3d39.49772746262815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88405e39fe1fccd7%3A0x6f3acded48cbda2f!2s3711%20Commerce%20Dr%2C%20Middletown%2C%20OH%2045005!5e0!3m2!1sen!2sus!4v1684276403495!5m2!1sen!2sus"
          width="100"
          height="300"
          style="border: 5px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="middle-space"></div>
    </div>
  </section> -->

